@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
}

.Publish {
  text-align: center;
}

.page-header {
  margin: 60px auto 30px auto;
  color: #181818;
  font-size: 28px;
  font-weight: 200;
}

.wrapper-publish {
  margin: 0 auto 0 auto;
  width: 70%;
  display: flex;
}

.input-section {
  margin: auto;
  display: flex;
  flex-direction: column;
}

.input-section input {
  font-size: 18px;
  width: 350px;
  border-radius: 7px;
  border: 1px solid #d3d3d3;
  padding: 10px 20px;
  margin: 0 0 10px 0;
}

.image-section-publish {
  background-color: #d3d3d3;
}

.image-section-publish img {
  background-color: #181818;
  width: 350px;
  height: 400px;
}

.submit-btn {
  background-color: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #181818;
  border-radius: 7px;
  border: 1px solid #181818;
  padding: 14px 28px;
  margin: 50px 0 100px 0;
  transition: 0.1s;
  cursor: pointer;
}

.submit-btn:hover {
  transition: 0.2s;
  background-color: #181818;
  color: #ffffff;
}