@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

button {
    border-style: inherit;
    background-color: inherit;
}

.Navbar {
    width: 80%;
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    margin: auto 0 auto 0;
    width: auto;
}

.navbar-logo p {
    font-size: 32px;
    font-weight: 200;
}

.navbar-page-btns {
    display: flex;
    justify-content: space-between;
}

.navbar-btn {
    margin: auto 15px auto 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 50px;
}

.navbar-passive-btn {
    background-color: #ebebeb;
}

.navbar-icon-btns {
    width: min-content;
    display: flex;
    justify-content: space-between;
}

.navbar-icon-btns button {
    border-radius: 100px;
    margin: auto;
    padding: 7px;
    transition: 0.1s;
}

.navbar-icon-btns button:hover {
    background-color: #d3d3d3;
    transition: 0.3s;
}